body {
    font-family: Arial, sans-serif;
    background: #191d28;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient( to bottom right, #202634, #191d28);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
}

.clock {
    margin-bottom: 20px;
}

.time {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.buttons button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #0056B3;
}

.buttons button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.alarm-form {
    margin-top: 20px;
}

.alarm-form input[type="time"] {
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 2px solid #007bff;
    background-color: #191d28;
    color: #fff;
}

.alarm-form input[type="time"]::placeholder {
    color: #bbb;
}

.alarm-form button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.alarm-form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.alarm-form button:hover {
    background-color: #218838;
}